* {
  box-sizing: border-box;
}

body {
  background: $color-dark-green;
  font-family: "Kondolar Thai", "Serif";
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.font-kondolar {
  font-family: "Kondolar Thai", "Serif";
}
.font-anuphan {
  font-family: "Anuphan", "Serif";
}

h1 {
  font-size: 61px;
  line-height: 120%;
}
h2 {
  font-size: 49px;
  line-height: 120%;
}
h3 {
  font-size: 39px;
  line-height: 120%;
}
h4 {
  font-size: 31px;
  line-height: 120%;
}
h5 {
  font-size: 25px;
  line-height: 120%;
}
h6 {
  font-size: 20px;
  line-height: 120%;
}
.bd1 {
  font-size: 16px;
  line-height: 120%;
}
.bd2 {
  font-size: 13px;
  line-height: 120%;
}
.ct1 {
  font-size: 10px;
  line-height: 120%;
}

.el-input {
  input {
    border: 1px solid black;
    padding: 9px 16px;
    font-size: 16px;
    line-height: 130%;
    font-family: "Kondolar Thai", "Serif";
    background: none;
    height: 40px;
    border-radius: 0;
    color: black;
  }
  input:focus {
    border-color: $color-green;
  }
  input::placeholder {
    color: $color-grey;
  }
}

.el-select-dropdown__item.selected {
  color: $color-green !important;
}

button {
  font-family: "Kondolar Thai", "Serif";
  cursor: pointer;
}
