@mixin media-breakpoint($size) {
  @if $size == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

$color-red: #ef364c;
$color-pale-red: #eea690;
$color-green: #07b392;
$color-pale-green: #99e9da;
$color-dark-green: #162d23;
$color-pale-green-2: #d9e9e2;
$color-yellow: #f6df0e;
$color-pale-yellow: #f7f4bf;
$color-grey: #383838;
$color-grey-3: #828282;
$color-grey-4: #bdbdbd;
$color-light-grey: #e0e0e0;
$color-light-grey-2: #f4f8f6;
$color-black: #333333;
